@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tambahan: matikan dark mode */
:root {
  color-scheme: light !important;
}
html {
  color-scheme: light !important;
}
body {
  background-color: #f8fafc !important;
  color: #1f2937 !important;
}
